@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../../public/images/bg.png');
}

@media (min-width:768px){
  .first-hero{
    background-image: url('../../public/images/shaddow-hero.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width:768px){
  .first-hero{
    background-image: url('../../public/images/shaddow-hero-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}