@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-image: url('../../public/images/bg.png');
}

@media (min-width:768px){
  .first-hero{
    background-image: url('../../public/images/shaddow-hero.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width:768px){
  .first-hero{
    background-image: url('../../public/images/shaddow-hero-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.ff-rubik{
  font-family: "Rubik", sans-serif !important;
}